{
  "presets": [
    ["env", {
     "targets": {
       "browsers": "last 2 versions"
     }
   }],
    "react-es2015",
    "stage-3",
    "stage-0"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
        ]
    }
  }
}
