{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "modules": "commonjs",
        "targets": {
          "browsers": "last 2 versions"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
        ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "react-hot-loader/babel"
  ]
}
