.Checkbox {
  width: 100%;
  $base-color: #017daf;
  $base-inner-color: #fff;
  $hover-color: #8fd6ef;
  $disabled-color: #999;
  $disabled-inner-color: #eee;
  $transition: background 0.4s, color 0.4s;
  input {
    display: none;
  }
  label {
    display: inherit;
    margin: 0;
  }
  span:not(.checkbox) {
    display: inherit;
    line-height: 1.2;
    padding: 0.05rem 0 0 0!important;
    margin: 0 0.8rem 0 0.33rem;
    font-size: inherit;
    font-family: inherit;
    color: #666;
  }
  span.checkbox {
    display: inherit;
    padding: 0!important;
    margin: 0;
    margin-left: 0.2rem;
    background: $base-color;
    border-radius: 0.2rem;
    height: 1.2rem;
    width:  1.2rem;
  }
  span.checkbox::before {
    display: inherit;
    background: $base-inner-color;
    border-radius: 0.1rem;
    box-shadow: inset 0.08rem 0.08rem 0.08rem rgba(0, 0, 0, 0.3);
    width: 0.95rem;
    height: 0.95rem;
    margin: 0.125rem;
    transition: $transition;
    content: "";
  }
  span.checkbox::after {
    display: inherit;
    font-family: FontAwesome, Sans-serif;
    color: $base-inner-color;
    margin-left: -1.1rem;
    margin-top: -0.1rem;
    transition: $transition;
    content: "\f00c";
  }
  input:disabled ~ span.checkbox {
    background: $disabled-color;
  }
  input:disabled ~ span.checkbox::before {
    background: $disabled-inner-color;
    box-shadow: unset;
  }
  input:disabled ~ span.checkbox::after {
    color: $disabled-inner-color;
  }
  input:checked:disabled ~ span.checkbox::after {
    color: $disabled-color;
  }

  label:hover input:not(:disabled) ~ span {
    cursor: pointer;
  }
  label:hover input:disabled ~ span {
    cursor: not-allowed;
  }
  label:hover input:not(:checked):not(:disabled) + span.checkbox::after {
    color: $hover-color;
  }
  input:checked + span.checkbox::after {
    color: $base-color;
  }
}
