.collapse {
  height: auto;
  width: auto;
}

.collapse.remain {
  display: inherit;
  white-space: nowrap;
  overflow: hidden;
}

.collapsing.height {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.collapsing.width {
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.collapse.show.height {
  height: auto;
}

.collapse.show.width {
  width: auto;
}
