@import '~bootstrap/scss/bootstrap';
@import 'typeaheadjs';
@import 'collapse';
@import 'timeschedule';
@import 'slider';
@import 'taftable';
@import 'taf';
@import 'popover';
@import 'datetime';
@import 'layermanager';
@import 'managementpanel';
@import 'sigmet';
@import 'airmet';
@import 'checkbox';
@import 'radio';
@import 'switch';
@import 'numberinput';
@import 'timepicker';
$radius-size: 0.19rem;
$shadow: 0.06rem 0.125rem 0.125rem rgba(0,0,0,0.3);
$inverse-inactive-color: rgba(255, 255, 255, 0.7);
$inverse-hover-color: #5bc0de;
$inverse-active-color: white;
$inverse-inactive-color: #cef;
$ux-interactive-color: #017daf;
$ux-interactive-color-checked: #3299cb;
$ux-interactive-color-active: #017daf;
$ux-interactive-border-highlight-color: #018cc8;
$ux-interactive-border-shadow-color: #01729b;
$ux-interactive-hover-color: #015f8c;

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
html, body, button, button.btn, input, optgroup, select, textarea {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
}

button.btn.btn-sm, button.btn.btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

.canvasLoadingOverlay.canvasDisabled,.canvasLoadingOverlay.timeOverlay.canvasDisabled {
  background-color: rgba(50, 50, 50, 0.4);
}
.canvasLoadingOverlay.timeOverlay{
  margin-top: -800px;
  display: block;
  background-color: rgba(50, 50, 50, 0);
  width: 480px;
  height: 800px;
  z-index: 10000;
}
.canvasLoadingOverlay {
  margin-top: -670px;
  display: block;
  background-color: rgba(50, 50, 50, 0);
  width: 480px;
  height: 670px;
  z-index: 10000;
}
.Panel.activePanel > .content,
.Panel.activePanel > .title {
  background-color: #017daf; /* #bcdff1; */
}
.Panel.activePanel.error > .content,
.Panel.activePanel.error > .title {
  background-color: #d9534f; /* #bcdff1; */
}
#root {
  height: inherit;
  width: inherit;
  background-color: #f2fbff;
}

.layerinfo > span:not(.editable) {
  cursor: default;
}

.layerinfo > span.editable {
  cursor: pointer;
}

.btn-group-vertical > .btn {
  cursor: pointer;
}

.row {
  margin: 0;
  &.no-gutters {
    .col-auto {
      padding: 0;
    }
  }
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-12, .col-auto {
  padding: 0;
}

.rounded {
  border-radius: $radius-size;
}
.rounded-top {
  border-radius: $radius-size $radius-size 0 0;
}
.rounded-right {
  border-radius: 0 $radius-size $radius-size 0;
}
.rounded-bottom {
  border-radius: 0 0 $radius-size $radius-size;
}
.rounded-left {
  border-radius: $radius-size 0 0 $radius-size;
}

.ux-interactive {
  background-color: $ux-interactive-color;
  border-color: $ux-interactive-border-highlight-color;
  border-right-color: $ux-interactive-border-shadow-color;
  border-bottom-color: $ux-interactive-border-shadow-color;
  border-width: 0.125rem;
  cursor: pointer;
  @extend .rounded;
  box-shadow: $shadow;
}

.ux-interactive:hover {
  background-color: $ux-interactive-hover-color;
  border-color: $ux-interactive-hover-color;
  border-right-color: #01405e;
  border-bottom-color: #01405e;
}

.ux-interactive:active {
  background-color: $ux-interactive-color-active;
  border-color: $ux-interactive-border-highlight-color;
  border-left-color: $ux-interactive-border-shadow-color;
  border-top-color: $ux-interactive-border-shadow-color;
  box-shadow: unset;
}

.ux-interactive:checked {
  color: $inverse-active-color;
  text-shadow: 0 0 0.2rem #333;
  background-color: $ux-interactive-color-checked;
  border-color: $ux-interactive-border-highlight-color;
  border-left-color: $ux-interactive-border-shadow-color;
  border-top-color: $ux-interactive-border-shadow-color;
  box-shadow: unset;
}

.ux-interactive:disabled {
  @extend .ux-interactive;
  color: $inverse-inactive-color;
  border-color: $ux-interactive-border-highlight-color;
  cursor: not-allowed;
  opacity: 0.6;
}

.btn {
  padding: 0.5rem 1rem;
}

.btn-primary {
  @extend .ux-interactive;
  padding: 0.5rem 1rem;
}

.btn-primary:hover {
  @extend .ux-interactive:hover;
}

.btn-primary:focus {
  box-shadow: $shadow;
}

.btn-primary:active {
  @extend .ux-interactive:active;
}

.btn-primary:not(:disabled):not(.disabled).active {
  @extend .ux-interactive:checked;
}

.btn-primary.disabled, .btn-primary.disabled:hover {
  @extend .ux-interactive:disabled;
  background-color: $ux-interactive-color;
}

.btn-primary:not(:disabled):not(.disabled):focus {
  &:active, &.active {
    box-shadow: unset;
  }
}

.btn-secondary, .btn-outline-info {
  color: $ux-interactive-color-checked;
  border-color: $ux-interactive-color-checked;
}

.btn-outline-info {
  background-color: transparent;
}

.btn-secondary {
  background-color: #fff;
}

.btn-secondary:hover, .btn-outline-info:hover, .show > .btn-secondary.dropdown-toggle {
  color: $inverse-active-color;
  border-color: $ux-interactive-color-checked;
  background-color: $ux-interactive-color-checked;
}

.btn-secondary:focus, .btn-outline-info:focus {
  box-shadow: unset;
}

.btn.btn-secondary {
  &:not([href]):disabled:hover, &:not([href]).disabled:hover,
  &:disabled, &:disabled:hover, &.disabled, &:disabled.hover {
    background-color: transparent;
    border-color: #ced4da;
    color: #ced4da;
    cursor: not-allowed;
    pointer-events: unset;
  }
}

.search-input {
  border-right: none;
  padding: 0.5rem 0.4rem;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.95rem;;
  font-style: italic;
}

.input-group {
  > .input-group-append .btn, > .input-group-prepend:not(:first-child) .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  > .input-group-append:not(:last-child) .btn, .input-group-prepend .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

button.search-clear.btn.btn-secondary, .search-clear, .search-clear:hover, .search-clear:focus, .search-clear:active {
  font-size: 1.5rem;
  background: none;
  border: 0.063rem solid #3299cb80;
  border-left: none;
  border-right: none;
  box-shadow: unset;
  padding: 0 0.25rem;
  background-color: transparent;
  font-weight: 700;
  line-height: 0.9;
  span {
    color: #000;
    opacity: .5;
  }
}
button.search-clear.btn.btn-secondary:hover {
  span {
    opacity: .75;
  }
}
button.search-clear.btn.btn-secondary:disabled {
  cursor: default;
  opacity: 1;
  span {
    color: #aaa;
    opacity: 0.5;
  }
}

.search-clear.btn.btn-secondary.focus {
  border-color: #3299cb80;
  box-shadow: inherit;
}

.search-clear.btn.btn-secondary:not(:disabled):active, .search-clear.btn.btn-secondary:not(.disabled):active {
  border-color: #3299cb80;
  color: $ux-interactive-color-checked;
  background: inherit;
  box-shadow: unset;
}

.form-control:focus {
  border-color: $ux-interactive-color-checked;
}

.form-control, .form-control:focus, .form-control.rbt-input, .form-control.rbt-input:focus {
  border-color: #3298cb80;
  box-shadow: unset;
}

.missing {
  &.form-control,
  .form-control, .form-control.rbt-input {
    border-color: #d9534f;
  }
}

.form-control:disabled, .rbt-input-hint-container[disabled] {
  cursor: not-allowed;
  background-color: #e8eaec;
  border-color: #ced4da;
}

.form-control.rbt-input {
  padding: 0.2rem 0.75rem;
}

.form-control {
  height: unset;
}

.rbt.open {
  width: 100%;
}

.rbt-input-hint-container {
  width: 100%;
}

.rbt-input-hint {
  padding-top: 0.3rem!important;
}

.rbt-aux {
  margin-left: -1.8rem;
}

.navbar img.logo {
  margin: 0 0.3rem 0.6rem;
  width: 3.5rem;
}

.navbar {
  background-color: #01547d;
  border-bottom: 1px solid #01405e;
  box-shadow: $shadow;
  padding: 0.1rem 0.5rem;
  margin-bottom: 0.2rem;
  width: 100%;
  line-height: 1.5;
  > .row {
    width: 100%;
  }
}

.nav-link {
  cursor: pointer;
}

.navbar-text {
  display: flex;
  padding-top: 0.925rem;
}

.navbar-inverse {
  color: $inverse-inactive-color;
}

.navbar-inverse .navbar-text {
  color: inherit;
}

.navbar .nav {
  padding-top: 0.425rem;
}

.navbar-brand {
  margin-left: 0.3rem;
  padding: 0.25rem 0;
}

.breadcrumb {
  background: none;
  padding-top: 0.925rem;
  margin-bottom: 0;
  padding-bottom: 0.75rem;
}

.breadcrumb-item a, .breadcrumb-item a:hover {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.breadcrumb-item, a.nav-link {
  cursor: not-allowed;
}

.breadcrumb-item::before, .breadcrumb-item + .breadcrumb-item::before  {
  color: inherit;
  content: '➜ ';
  cursor: auto;
}

.navbar-inverse .breadcrumb-active, .navbar-inverse a.nav-link.active {
  color: $inverse-active-color;
  cursor: pointer;
  text-decoration: none;
}

a.breadcrumb-active:hover, a.nav-link.active:hover {
  cursor: pointer;
  color: $inverse-hover-color;
}

.card {
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion.card {
  border: none;
  border-bottom: 0.1rem solid transparent;
  border-radius: 0.19rem;
  min-width: 100%;
  flex: none;
}

.accordion.card > a {
  display: inherit;
}

.accordion .card-header {
  padding: 0.5rem 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  z-index: 2;
  color: $inverse-active-color;
  background-color: $ux-interactive-color;
  border: none;
  @extend .rounded-top;
}

.accordion > .card-header, .accordion > a {
  cursor: pointer;
}

.accordion a {
  text-decoration: inherit;
  &.btn.disabled {
    pointer-events: unset;
  }
}

.accordion a:not([href]),
.accordion .card-body .btn:disabled,
.accordion > .card-header.disabled {
  cursor: not-allowed;
}

.accordion .card-header a {
  color: $inverse-active-color;
}

.accordion .card-header .btn-outline-info {
  border: none;
  color: inherit;
  padding: 0 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.accordion .card-header .btn-outline-info:disabled {
  border: none;
  color: transparent;
  padding: 0 0.5rem;
  margin-left: 0.5rem;
  cursor: inherit;
}

.accordion .card-header .btn-outline-info:disabled:hover {
  background: inherit;
}

.accordion .card-body .btn-group-vertical > .btn:first-child:not(.focus) {
  border-radius: 0;
}

.accordion .card-body .btn-group-vertical {
  justify-content: unset;
}

.accordion .card-body {
  padding: 0;
}

.accordion .card-body .row {
  flex: 1;
}

.accordion .card-body .row.btn {
  display: flex;
  flex-flow: row nowrap;
}

.badge-danger {
  background-color: #d9534f;
}

.accordion .badge {
  padding: 0.3rem 0.5rem;
  border: 0.12rem solid white;
}

.accordion .badge.collapsed {
  font-size: 68%;
  padding: 0.23rem 0.3rem;
  margin-left: -0.6rem;
  margin-right: 0.6rem;
  margin-top: -0.2rem;
  margin-bottom: 0.5rem;
}

.accordion .card-body .icon {
  padding: 0 0.5rem;
  margin-left: 0.5rem;
}

.accordion .card-body .btn:focus {
  box-shadow: unset;
}

.accordion .row.section {
  border-top: 0.06rem solid #eee;
  padding-top: 0.5rem;
}

.dropdown-item, .bootstrap-typeahead-menu > li {
  padding: 0.19rem;
}

.loc-card {
  margin: 1rem;
  height: 11rem;
  max-height: 11rem;
  min-width: 14rem;
}

.container-fluid {
  height: inherit;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
}

.col.footeredLayout, .col.headeredLayout, .col.sidebarredLayout {
  display: inherit;
  flex-direction: inherit;
}

.row.headeredContent, .row.footeredContent {
  flex: 1;
  flex-direction: inherit;

}

.row.headeredContent {
  margin: 0 0.2rem 0.2rem 0.2rem;
}

.col.sidebarredLayout > .row {
  flex: 1;
  min-height: 0;
  flex-wrap: nowrap;
}

.col.sidebarredContent {
  flex-direction: column;
}

.container-fluid div:not(.collapse):not(.dropdown-menu):not(.btn-group-vertical):not(.managementPanel):not(.loc-card):not(.managementRow):not(.rdt):not(.rdtPicker) {
  display: inherit;
}

.container-fluid .map .managementPanel .content .tab-content > .tab-pane {
    display: none;
}

.container-fluid .map .managementPanel .content .tab-content > .active {
    display: block;
}

.btn > .icon:first-child {
  margin-right: 0.4rem;
}

aside, header, main {
  display: inherit;
}

main {
  flex: 1;
}

main:-moz-full-screen {
  width: 100%;
  height: 100%;
}

main:-ms-fullscreen {
  width: 100%;
  height: 100%;
}

main:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

main:fullscreen {
  width: 100%;
  height: 100%;
}

.MainViewport {
  .map {
    flex: 1;
  }
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.TasksContainer, .SigmetsContainer, .ProductsContainer, .ManageSideContainer {
  flex: 1;
}

.ManageSideContainer > div.notitle {
  flex: unset;
}
.ManageSideContainer > div.content {
  display: flex;
  flex: 1;
}
.ManageSideContainer .content .btn:not(:last-child) {
  margin-bottom: 0.33rem;
}

.ManageSideContainer .content .btn, .ManageSideContainer .title .btn {
  padding: 0.5rem 0.7rem;
}

.MapActionContainer .content .btn:not(:last-child) {
  margin-bottom: 0.33rem;
}

.MapActionContainer .content .btn, .MapActionContainer .title .btn {
  padding: 0.5rem 0.7rem;
}

.LeftSideBar {
  flex-direction: column;
}

.Footer .datalayer {
  margin-bottom: 0.1rem;
}

.Footer .datalayer  .badge {
  font-size: 80%;
  height: 17px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.Footer .datalayer.active {
  background-color: rgba(217,237,247, 0.6);
}

.Panel {
  flex-direction: column;
  width: 100%;
}

.Panel > .title {
  box-sizing: border-box;
  max-height: 4.25rem;
  background: white;
  border-bottom: 0.06rem solid #4bb0ce;
  @extend .rounded-top;
  box-shadow: 0 0.05rem 0.25rem rgba(0,0,0,0.5);
  margin: 0.25rem;
  margin-bottom: 0;
  padding: 0.33rem;
  overflow: hidden;
}

.Panel > div.notitle {
  border: none;
  padding: 0 0.33rem 0.33rem 0.33rem;
}

.Panel > .title .row {
  flex-flow: row nowrap;
}

.Panel > .title .input-group {
  margin-left: 0.8rem;
  flex-wrap: nowrap;
}

.Panel > .title .form-inline .form-control {
  width: 100%;
}

.Panel > .feedback {
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.9rem;
  margin-bottom: -1.2rem;
  padding-top: 1.2rem;
  max-height: 3.1rem;
  overflow: visible;
  span {
    padding: 0.15rem 0.65rem;
    color: #d9534f;
    font-size: 0.9rem;
    z-index: 100;
    border: 0.0625rem solid #d9534f;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.12rem 0.2rem rgba(1,84,125,0.25);
    min-height: fit-content;
  }
}

.col-12 > .Panel > .feedback, .row > .col-6 > .Panel > .feedback {
  span {
    min-width: 32rem;
  }
}

.Panel > .content {
  box-sizing: border-box;
  background: white;
  @extend .rounded-bottom;
  box-shadow: 0 0.15rem 0.25rem rgba(0,0,0,0.5);
  margin: 0.25rem;
  margin-top: 0;
  padding: 0.33rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  flex-direction: column;
}

.Panel .accordionsWrapper {
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
}

.Panel .accordionsWrapper .collapse .btn.btn-secondary.active {
  background: #bcdff1;
  border-color: #3299cb80;
  z-index: unset;
}

.Panel .accordionsWrapper .collapse.show .btn.active {
  z-index: 2;
}

.LayerManagerPanel .col:not(:last-child), .LayerManagerPanel .col-auto:not(:last-child) {
  margin-right: 0.33rem;
}

.LayerManagerPanel .btn {
  width: 3rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
#gw-navbar {
  width: 100%
}

#layerinfo.list-group-item {
  padding: 0;
}

span {
  max-width: 500px;
}
span.badge {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.fa {
  padding-top: 0.1rem;
}

.RightSideBar {
  width:4rem;
}

.panelSelectionImage {
  width: 1.75rem;
  height: 1.75rem;
}

/* TafStyle's */

.TafStyle .badge {
  border-radius:0;
  padding:1em;
  margin:auto;
}
.accordion .TafStyle .badge {
  width: 100%;
  border:none;
}

.accordion .TafStyle .bootstrap-typeahead,
.accordion .TafStyle .bootstrap-typeahead-input {
  width: 100%;
}

.accordion .TafStyle .btn-group .btn {
  padding: 0.19rem 0.5rem;
}

.TafStyle .btn-primary {
  padding: 0.5rem 0.7rem;
}

.accordion .card-body .TafStyle.row.btn {
  flex-direction: column;
  padding: 0.19rem;
  line-height: 1.4rem;
}

.accordion .card-body .TafStyle.row.btn .row {
  flex-direction: row;
}
