@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#adaguccontainer {
  display:inline-block;
}
#innermenu {
  width:200px;
  display:inline-block;
  float:right;
}

.dropdown{
  margin: 5px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
#infocontainer {
  margin: auto;
  margin-right: 250px;
}
#timecomponent {
  float: left;
}
#layerproperties {
  float: right;
  flex-grow: 1;
}
#layerproperties td,
#layerproperties th {
  padding-right: 25px;
  font-size: 18pt;
}
#layerproperties td:last-child,
#layerproperties th:last-child {
  font-size: 18pt;
}
