.RadioGroup {
  width: 100%;
  $base-color: #017daf;
  $base-inner-color: #fff;
  $hover-color: #8fd6ef;
  $disabled-color: #999;
  $disabled-inner-color: #eee;
  $transition: background 0.4s;
  input {
    display: none;
  }
  label {
    display: inherit;
    margin: 0;
  }
  span:not(.radio) {
    display: inherit;
    line-height: 1.2;
    padding: 0.05rem 0 0 0!important;
    margin: 0 0.8rem 0 0.33rem;
    font-size: inherit;
    font-family: inherit;
    color: #666;
  }
  span.radio {
    display: inherit;
    padding: 0!important;
    margin: 0;
    margin-left: 0.2rem;
    background: $base-color;
    border-radius: 4rem;
    height: 1.2rem;
    width:  1.2rem;
  }
  span.radio::before {
    display: inherit;
    background: $base-inner-color;
    border-radius: 3.75rem;
    box-shadow: inset 0.06rem 0.06rem 0.06rem rgba(0, 0, 0, 0.3);
    width: 0.95rem;
    height: 0.95rem;
    margin: 0.125rem;
    transition: $transition;
    content: "";
  }
  span.radio::after {
    display: inherit;
    background: $base-inner-color;
    border-radius: 3rem;
    box-shadow: inset 0.12rem 0.12rem 0.12rem rgba(255, 255, 255, 0.2);
    width: 0.7rem;
    height: 0.7rem;
    margin: 0.25rem;
    margin-left: -0.95rem;
    transition: $transition;
    content: "";
  }
  input:disabled ~ span.radio {
    background: $disabled-color;
  }
  input:disabled ~ span.radio::after, input:disabled ~ span.radio::before {
    background: $disabled-inner-color;
    box-shadow: unset;
  }
  input:checked:disabled ~ span.radio::after {
    background: $disabled-color;
  }

  label:hover input:not(:checked):not(:disabled) ~ span {
    cursor: pointer;
  }
  label:hover input:not(:checked):disabled ~ span {
    cursor: not-allowed;
  }
  label:hover input:not(:checked):not(:disabled) + span.radio::after {
    background: $hover-color;
  }
  input:checked + span.radio::after {
    background: $base-color;
  }
}
