.SigmetsContainer {
  .ContainerHeader {
    .btn:not(:first-of-type) {
      margin-left: 0.33rem;
      font-size: 0.8rem;
    }
  }

  .accordionsWrapper {
    max-height: 100%;
    width: 100%;
  }

  .SigmetsCategory {
    min-width: 0;
    min-height: 2.5rem;
    flex-wrap: nowrap;

    > .col {
      flex-direction: column;
    }

    .card-header {
      flex: none;
      .col:nth-child(2):not(.col-auto) {
        padding-left: 0.9rem;
      }
      cursor: not-allowed;
    }
  }

  .SigmetsCategory.open {
    flex: 1;

    > .col {
      > .row:not(.card-header) {
        overflow-y: scroll;
        flex: auto;
        .btn-group-vertical {
          min-height: min-content;
          max-height: min-content;
          min-width: 0;
          flex-grow: 1;
        }
      }
    }
  }

  .SigmetsCategory.openable {
    .card-header {
      cursor: pointer;
    }
  }

  .SigmetsCategory.minified {
    .card-header {
      flex: inherit;
      flex-direction: row;
      padding: 0.2rem 0.2rem 0.5rem 0.7rem;
      span.fa {
        padding-top: 0.4rem;
      }
      span.badge {
        font-size: 60%;
        border-width: 0.08rem;
        padding: 0.1rem 0.2rem;
        max-height: 1rem;
        margin-left: -0.5rem;
      }
    }
  }
}

.accordion .Sigmet.btn {
  flex-direction: column;
  padding: 0.19rem;
  line-height: 1.4;

  .What {
    .row:not(:first-of-type) {
      margin-top: 0.2rem;
    }
    [data-field='phenomenon'] {
      font-weight: bold;
    }
  }

  .Action {
    border-top: 0.06rem solid #eee;
    padding-top: 0.33rem;
  }

  .col {
    flex-direction: column;
  }
  .row {
    flex-direction: row;
    flex: 0 auto;
  }

  .row.disabled {
    background-color: #eee;
  }

  .badge {
    padding: 0.25em 0.4em;
    width: 100%;
    height: 1.2rem;
    border-width: 0.05rem;
  }

  .disabled .badge {
    color: #eee;
    background-color: #919191;
    border-color: #eee;
  }

  .bootstrap-typeahead, .bootstrap-typeahead-input {
    width: 100%;
  }

  .btn-group .btn {
    padding: 0.19rem 0.5rem;
  }

  .btn-primary {
    padding: 0.5rem 0.7rem;
  }

  .switch-button {
    .label {
      line-height: 1.2;
      padding-top: 0.2rem;
      margin: 0 0.75rem;
    }

    .toggle {
      margin-bottom: 0;
    }
  }

  .required {
    padding-left: 0.33rem;
  }

  .required:after {
    content: '*';
  }

  .required.missing {
    color: red;
    font-weight: bold;
  }

  .CollapseOmni.collapsing {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.accordion .Sigmet.btn-secondary:hover {
  background-color: #d5f4ff;
}
