.accordion .Sigmet .badge {
  padding: 0.25em 0.4em;
  width: 100%;
  height: 1.2rem;
}

.accordion .Sigmet .bootstrap-typeahead,
.accordion .Sigmet .bootstrap-typeahead-input {
  width: 100%;
}

.accordion .Sigmet .btn-group .btn {
  padding: 0.19rem 0.5rem;
}

.accordion .Sigmet .row.disabled {
  background-color: #eee;
}

.accordion .Sigmet .disabled .badge {
  color: #eee;
  background-color: #919191;
  border-color: #eee;
}

.accordion .Sigmet.btn-secondary:hover {
  background-color: #d5f4ff;
}

.Sigmet .CollapseOmni.collapsing {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
