.accordion .Sigmet .badge {
  padding: 0.25em 0.4em;
  width: 100%;
  height: 1.2rem;
}

.accordion .Sigmet .bootstrap-typeahead,
.accordion .Sigmet .bootstrap-typeahead-input {
  width: 100%;
}

.accordion .Sigmet .btn-group .btn {
  padding: 0.19rem 0.5rem;
}

.accordion .Sigmet.btn-secondary:hover {
  background-color: #d5f4ff;
}
