$ux-interactive-color: #017daf;
$font-inactive-color: #777;
$font-active-color: #333;
$border-inactive-color: #919191;

div.rc-slider-tooltip {
    z-index: 100;
}

div.rc-slider-handle:hover {
    border-color: #015f8c;
}

div.rc-slider-handle {
    border-color: $ux-interactive-color;
}

div.rc-slider-track {
    background-color: $ux-interactive-color;
}

span.rc-slider-dot {
    border-color: $border-inactive-color;
}

span.rc-slider-dot-active {
    border-color: $ux-interactive-color;
}

div.rc-slider-mark-text {
    color: $font-inactive-color;
    font-size: 0.9rem;
}

div.rc-slider-mark-text-active {
    color: $font-active-color;
}

div.rc-slider-rail {
    background-color: $border-inactive-color;
}

.input + .toggle {
  width: 3.4rem!important;
  height: 1.4rem!important;
  background-color: $ux-interactive-color!important;
  border-radius: 4rem!important;
}

.input + .toggle:after {
  width: 1rem!important;
  border-radius: 3rem!important;
  background-color: $ux-interactive-color!important;
}

.input + .toggle:before {

  border-radius: 3.75rem!important;
}
