.TafsContainer {
  .ContainerHeader {
    .btn {
      font-size: 0.8rem;
      line-height: 1.75;
    }
  }
  .Panel .col {
    flex-direction: column;
  }
  .TafSelector {
    padding: 0.33rem;
    border-bottom: 0.05rem solid #d4f0ff;
    background-color: #e9f8ff;
    border-radius: 0.2rem 0.2rem 0 0;
    min-height: 2.8rem;

    > div:first-of-type {
      padding-top: 0.25rem;
      margin-right: 0.5rem;
    }

    .alert {
      padding: 0.2rem 0.5rem;
      margin: 0;
      margin-left: 0.5rem;

      span.fa {
        margin-top: 0.1rem;
        margin-right: 0.5rem;
      }
    }

    ul {
      min-width: 100%;
      span.fa {
        padding-top: 0.2rem;
      }

      li a {
        display: flex;

        .row {
          width: 100%;
        }

        .col, .col-5, .col-2 {
          padding: 0;
        }
      }
      li:nth-child(even) a {
        background-color: #e9f8ff;
      }
      li a:hover {
        background-color: #d0ecff;
      }
    }
  }

  .Taf {
    flex: 1;
    overflow: auto;
    border: 0.05rem solid #d4f0ff;
    border-top-width: 0;
    border-radius: 0 0 0.2rem 0.2rem;
    > .col > .row {
      min-height: fit-content;
    }
    .uuid {
      padding: 0.5rem;
    }
    .TacView {
      padding: 0.5rem;
      font-size: 0.9rem;
      font-weight: lighter;
      min-height:5rem;

      > div:first-child {
        flex-direction: column;
      }

      .row:first-child > div:first-child {
        font-weight: bold;
      }
    }

    .TafTable {
      margin: 0.2rem 0.5rem;
      padding: 0.33rem;
      background-color: #ececec;
      border-radius: 0.2rem;
      .hidden-taf-field {
        display:none;
      }
    }

    .TafStyle input {
      text-transform: uppercase;
    }
    
    .TafActionSection {
      border-top: 0.06rem solid #d4f0ff;
      padding: 0.5rem;
      padding-top: 0.33rem;

      .btn {
        width: 100%;
      }

      .btn:not(:last-of-type) {
        margin-right: 0.33rem;
      }
    }
  }
  .TafFeedbackSection {
    padding: 0.5rem;
    padding-top: 0.33rem;
    span {
      max-width: unset;
    }
    .alert {
      margin: 0;
      padding: 0.5rem;
    }
    .alert-heading {
      font-size: 1.2rem;
    }
  }

  .TafFeedbackSection.empty {
    min-height: 4rem;
  }

}
