$base-color: #464a4e;

div.TimeSchedule {
  flex: 1;
  padding: 0.5rem;
}

div.TimeSchedule > div.col {
  flex-direction: column;
}

div.TimeSchedule > div.col > div.row.marks {
  flex: auto;
}

div.TimeSchedule > div.col > div.row.marks:not(:last-child) {
  min-height: 0.25rem;
  max-height: 0.3rem;
}

div.TimeSchedule > div.col > div.row > div.col{
  flex-grow: 0;
  flex-shrink: 0;
}

.TimeSchedule {
  color: $base-color;
}

.TimeSchedule div.row .tick {
  flex-direction: row;
  justify-content: center;
}

.TimeSchedule div.row.marks .tick {
  border-left: 0.05rem solid $base-color;
}

.TimeSchedule > div.col .row.axis .tick:not(:last-child) {
  border-bottom: 0.05rem solid $base-color;
}

.TimeSchedule .row:last-child .tick {
  border: none;
}

.TimeSchedule .groupRow {
  margin-top: 0.4rem;
  min-height: 1.8rem;
}

.TimeSchedule .overlaps.groupRow {
  min-height: 3.3rem;
}

.TimeSchedule .overlaps.overlapsDouble.groupRow {
  min-height: 4.8rem;
}

.TimeSchedule .overlaps.overlapsDouble.overlapsTriple.groupRow {
  min-height: 6.3rem;
}

.TimeSchedule .scheduleLabel {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.4rem 0.2rem;
  font-weight: 600;
}

.TimeSchedule .overlaps.groupRow .scheduleHighlight {
  max-height: 1.8rem;
}

.TimeSchedule .scheduleHighlight .col-auto i {
  margin: 0 0.1rem;
  margin-left: 0.3rem;
}

.TimeSchedule .scheduleHighlight.showPrefix.col {
  flex-direction: row;
}

.TimeSchedule .scheduleHighlight {
  background-color: #e7e8ea;
  border: 0.05rem solid #bdbfc2;
  border-radius: 0.3rem;
  white-space: nowrap;
  padding: 0.3rem;
  font-size: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
}

.TimeSchedule .scheduleHighlight.showPrefix:before {
  content: attr(data-prefix) ':\00A0'; /* &nbsp; */
  font-weight: bolder;
}

.TimeSchedule .overlaps.scheduleHighlight {
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
}

.TimeSchedule .overlaps.overlapsDouble.scheduleHighlight {
  margin-top: 3rem;
  margin-bottom: -3rem;
}

.TimeSchedule .overlaps.overlapsDouble.overlapsTriple.scheduleHighlight {
  margin-top: 4.5rem;
  margin-bottom: -4.5rem;
}

.TimeSchedule .wind .scheduleHighlight {
  background-color: #d1ecf1;
  border-color: #9ec5cb;
}

.TimeSchedule .wind◷ .scheduleHighlight, .TimeSchedule .wind .striped.scheduleHighlight {
  background: repeating-linear-gradient(
    45deg,
    #d1ecf1,
    #d1ecf1 0.6rem,
    #bee5eb 0.6rem,
    #bee5eb 1.2rem
  );
  border-color: #9ec5cb;
}

.TimeSchedule .wind◷ .split.scheduleHighlight {
  background: linear-gradient(
    to bottom,
    #d1ecf1,
    #d1ecf1 60%,
    #bee5eb 60%,
    #bee5eb
  );
}

.TimeSchedule .visibility .scheduleHighlight {
  background-color: #d4edda;
  border-color: #a3c6ab;
}

.TimeSchedule .visibility◷ .scheduleHighlight, .TimeSchedule .visibility .striped.scheduleHighlight{
  background: repeating-linear-gradient(
    45deg,
    #d4edda,
    #d4edda 0.6rem,
    #c3e6cb 0.6rem,
    #c3e6cb 1.2rem
  );
  border-color: #a3c6ab;
}

.TimeSchedule .visibility◷ .split.scheduleHighlight {
  background: linear-gradient(
    to bottom,
    #d4edda,
    #d4edda 60%,
    #c3e6cb 60%,
    #c3e6cb
  );
}

.TimeSchedule .weather .scheduleHighlight {
  background-color: #fff3cd;
  border-color: #dfce9a;
}

.TimeSchedule .weather◷ .scheduleHighlight, .TimeSchedule .weather .striped.scheduleHighlight {
  background: repeating-linear-gradient(
    45deg,
    #fff3cd,
    #fff3cd 0.6rem,
    #fbeab5 0.6rem,
    #fbeab5 1.2rem
  );
  border-color: #dfce9a;
}

.TimeSchedule .weather◷ .split.scheduleHighlight {
  background: linear-gradient(
    to bottom,
    #fff3cd,
    #fff3cd 60%,
    #fbeab5 60%,
    #fbeab5
  );
}

.TimeSchedule .clouds .scheduleHighlight {
  background-color: #f8d7da;
  border-color: #d5a6ab;
}

.TimeSchedule .clouds◷ .scheduleHighlight, .TimeSchedule .clouds .striped.scheduleHighlight {
  background: repeating-linear-gradient(
    45deg,
    #f8d7da,
    #f8d7da 0.6rem,
    #f5c6cb 0.6rem,
    #f5c6cb 1.2rem
  );
  border-color: #d5a6ab;
}

.TimeSchedule .clouds◷ .split.scheduleHighlight {
  background: linear-gradient(
    to bottom,
    #f8d7da,
    #f8d7da 60%,
    #f5c6cb 60%,
    #f5c6cb
  );
}

.TimeSchedule .scheduleHighlight div {
  display: inline-block;
}

.TimeSchedule .scheduleHighlight.rightArrow {
  justify-content: left;
}

.TimeSchedule .scheduleHighlight.leftArrow::before, .TimeSchedule .scheduleHighlight.rightArrow::after, .TimeSchedule .scheduleHighlight.bothArrow::before {
  font-family: FontAwesome, Sans-serif;
  font-size: 80%;
  padding-top: 0.2rem;
  padding-right: 0.5rem;
}

.TimeSchedule .scheduleHighlight.leftArrow::before {
  content: "\f053";
}

.TimeSchedule .scheduleHighlight.rightArrow::after {
  content: "\f054";

}

.TimeSchedule .scheduleHighlight.bothArrow::before {
  content: "\f054\f053";
}
