.gfi_table{
    border-collapse: collapse;
    margin:0;
    padding:0;
}
.gfi_table_tr, .gfi_table_td {
    border-collapse: collapse;
    margin:0;
    padding:0;
    line-height:0px;
}
.gfi_nomarginpadding{
  padding:0px;
  margin:0px;
}