.WMJSTimeSelector-table{
  border-collapse: collapse;
  margin:0px;padding:0px;
  width:100%;
}
.WMJSTimeSelector-tr{
  line-height:16px;
  padding:0px;
}
.WMJSTimeSelector-col{
  border-bottom:1px solid black;
  border-top:1px solid black;
  width:50%;
  font-size:14px;
  text-align:center;
  font-weight:bold;
}

.WMJSTimeSelector-colindex{
  border:1px solid black;
   width:30px;
   display:none;
}
.WMJSTimeSelector-col-unselected{
  background-color:red;
}
.WMJSTimeSelector-col-selected{
  background-color:#FF8080 !important;
  color:white;
}
.WMJSTimeSelector-col-loaded{
  background-color:#AFA;
  color:black !important;
}

.WMJSTimeSelector-timeinfo{

 padding:5px;
  
  line-height:15px;
  font-size:14px;
  text-align:center;

}

.WMJSTimeSelector-table td{
     text-align:center;
}

.WMJSTimeSelector_yearspinner{
  width:36px;
  font-size:8px;

}

.WMJSTimeSelector_monthspinner,.WMJSTimeSelector_dayspinner,.WMJSTimeSelector_hourspinner,.WMJSTimeSelector_minutespinner,.WMJSTimeSelector_secondspinner{
  width:18px;
  font-size:8px;
  
}
.WMJSTimeSelector_timebuttons{
   text-align:center;
}

.WMJSTimeSelector-timeChooserElement{
  
  text-align:center;
}
.WMJSTimeSelector-controlElement{
  background:#EEF;padding:5px;
  border-top:1px solid #AAA;
  
}

.WMJSTimeSelector-noselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
